---
layout: page
title: Projects
---
<section class="list">
    {% for project in site.data.projects %}
        <div class="item">
            <a class="url" href="{{ project.url }}">
                <aside>{{ project.source | default: "project" }}</aside>
                <h3 class="title">{{ project.name }}</h3>
                {% if project.summary %}
                    <p class="description">{{ project.summary }}</p>
                {% endif %}
            </a>
        </div>
    {% endfor %}
</section>
